body {
  background-color: f8f8f8;
  margin: 0 auto; }

header {
  display: inline-block;
  line-height: 5px;
  text-align: left; }

.main {
  font-size: 32px;
  font-family: 'PT Sans', sans-serif;
  color: grey;
  font-weight: lighter; }

.secondary {
  font-size: 18px;
  font-family: 'PT Sans', sans-serif;
  color: grey;
  font-weight: lighter; }

nav {
  display: block;
  text-align: center; }

.photos {
  height: 450px;
  border: 4px solid black;
  margin: 5px; }

.photos:hover {
  opacity: 0.5; }

.navbar {
  float: right;
  clear: both; }

.third {
  font-size: 18px;
  font-family: 'PT Sans', sans-serif;
  color: grey; }
  .third ul {
    margin: 0px;
    padding: 0px; }
  .third li {
    display: inline-block;
    margin-left: 10px; }
    .third li a {
      color: grey;
      text-decoration: none; }

.container {
  display: inline-block;
  text-align: center; }

section {
  display: inline-block;
  width: 48%;
  text-align: left;
  vertical-align: top;
  padding: 2px;
  border: 2px solid black; }

aside {
  display: inline-block;
  line-height: 5px;
  width: 48%;
  padding: 2px;
  border: 2px solid black;
  vertical-align: top; }

.travelphotos {
  width: 100%;
  margin-top: 1%; }

.artistheadline a {
  position: relative; }
  .artistheadline a p {
    position: absolute;
    bottom: -65px;
    font-family: 'PT Sans', sans-serif;
    font-size: 4em;
    color: white; }

.musicphotos {
  width: 100%;
  text-align: center;
  border: 4px solid black; }

.festivals {
  display: inline-block; }

.left-list {
  list-style: none; }

.right-list {
  list-style: none; }

footer {
  font-size: 14px;
  font-family: 'PT Sans', sans-serif;
  color: grey;
  text-align: right;
  clear: both;
  font-weight: lighter;
  padding: 10px; }

@media all and (max-width: 640px) {
  body {
    text-align: center; }
  header {
    text-align: center; }
  .navbar {
    display: inline; }
  footer {
    text-align: center; }
  h1 {
    text-align: left; }
  section {
    width: inherit; }
  aside {
    width: inherit; }
  .artistheadline a p {
    font-size: 2em;
    bottom: -25px;
    margin-left: 4px; } }
