$font-stack: 'PT Sans', sans-serif;

body{
  background-color: f8f8f8;
}
header{
  display: inline-block;
  line-height: 5px;
  text-align: left;
}
.main {
  font-size:32px;
  font-family: $font-stack;
  color:grey;
  font-weight: lighter;
  // text-align: left;
}
.secondary{
  font-size:18px;
  font-family: $font-stack;
  color:grey;
  font-weight: lighter;
}
nav{
  display: block;
  text-align: center;
}

// end home.html start travelling.html


.photos{
  height:450px;
  border: 4px solid black;
  margin: 5px;
}
.photos:hover{
  opacity: .5;
}
.navbar{
  float: right;
  clear: both;
}
.third{
  font-size:18px;
  font-family: $font-stack;
  color:grey;
  ul{
    margin: 0px;
    padding: 0px;
  }
  li{
    display: inline-block;
    margin-left: 10px;
    a{
      color: grey;
      text-decoration: none;
    }
  }
}
.container{
  display: inline-block;
  text-align: center;
}
section{
  display: inline-block;
  width: 48%;
  text-align: left;
  vertical-align: top;
  padding: 2px;
  border: 2px solid black;
}
aside{
  display:inline-block;
  line-height: 5px;
  width:48%;
  // height: 350%;
  padding: 2px;
  border: 2px solid black;
  vertical-align: top;
}
.travelphotos{
  width: 100%;
  margin-top: 1%;
}

// end travelling.html start music.html


.artistheadline{
  a{
  position: relative;
  p{
    position: absolute;
    bottom: -70px;
    font-family: $font-stack;
    font-size: 4em;
    color: black;
    }
  }
}
.musicphotos{
  width: 100%;
  text-align: center;
  border: 4px solid black;
}
footer{
  font-size:14px;
  font-family: $font-stack;
  color: grey;
  text-align: right;
  clear: both;
  font-weight: lighter;
  padding: 10px;
}

// start break-point

@media all and (max-width: 640px){
  body{
    text-align: center;
  }
  header{
    text-align: center;
  }
  .navbar{
    display: inline;
  }
  footer{
    text-align: center;
  }
  h1{
    text-align: left;
  }
  section{
    width: inherit;
  }
  aside{
    width: inherit;
  }
}
